  body {
    margin: 0;
    background: #F7F9FF;
    overflow: hidden;
  }

  #grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cell {
    width: 20px;
    height: 20px;
    color: #02113F;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    user-select: none;
  }
